@import "~bootstrap/scss/bootstrap.scss";

.header{
    height:110px;
    background-color:#404040;
    display: flex;
    justify-content: space-between;
}

.papertrade{
    color:rgb(220, 220, 220);
    font-size: 70px;
    font-weight: bold;
    margin-left:55px;
}

.papertrade:hover{
    color:white;
}

.signup{
    color:rgb(220, 220, 220);
    font-size: 40px;
    margin-right:40px;
    margin-top:20px;
    //font-weight:lighter;
}

.signup:hover{
    color:white;
}

.editprofile{
    font-size: 40px;
    margin-top:20px;
    position:relative;
    left:300px;
}

.logout{
    color:rgb(218, 218, 218);
    font-size: 40px;
    margin-top:20px;
    position: relative;
    right:40px;
    }

.logout:hover{
    color:rgb(255, 255, 255);
    }


.login{
    color:white;
    height:665px;
    width:50%;
    padding:70px;
    font-size:20px;
    // margin-top:40px;
    // background:rgb(45, 19, 63);
    position: relative;
    bottom: 00px;
    left: 00px;
}

.about{
    color:black;
    height:665px;
    width:50%;
    padding:70px;
    font-size:20px;
    //margin-top:50px;
    // background:rgb(28, 65, 45);
    position: relative;
    bottom: -50px;
    left: 00px;
    line-height: 2.4rem;
}

.middle{
    display: flex;
    justify-content: center;
}

.email{
    color:black
}

.password{
    color:black;
    border-color:black;
    margin-top:50px;
}


.loginbutton{
    background:#404040;
    color:rgb(221, 221, 221);
}

.loginbutton:hover{
    color:white;
}

.nf{
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
    color:rgb(192, 0, 0);
}


.vluserProfile {
  border-left: 650px solid rgb(255, 255, 255);
  height: 1px;
  margin-top:0px;
  border-radius:5px;
}

.vlhome {
  border-left: 1px solid #404040;
  height: 625px;
  margin-top:24px;
  border-radius:5px;
}

.input{
    width:100%;
    border-radius:0px;
    border:none;
    border-bottom:1px solid #404040;
}

.input:focus{
    outline: none;
}

.vlprofile{
  border-left: 1px solid rgb(189, 189, 189);
  height: 80px;
  margin-top:20px;
  border-radius:5px;
  position: relative;
  left:144px;
}


.profilenavbar{
    height:125px;
    background-color:#404040;
    display: flex;
    justify-content: space-between;
}

.editprofile{
    color:rgb(240, 240, 240);
    font-size: 40px;
    margin-top:20px;
    //font-weight:lighter;
}

.logout{
    color:rgb(240, 240, 240);
    font-size: 40px;
    margin-top:20px;
    }

.editform{
    height:100px;
    // background:rgb(49, 42, 42);
    // position: relative;
    // left:600px;
    font-size: 25px;
    margin: auto;
    width: 50%;
}

.newemail{
    width:200px;
}

.number{
    position: relative;
    left:10px;
}

.tradestocksheader{
    margin:0px;
    background-color: #404040;
    color:rgb(220, 220, 220) ;
}

.transactionhistorytitle{
    height:20px;
}


.navbar{
    background-color:#404040;
    height:30px;
    display: flex;
    justify-content: space-evenly;
}

.tradestocks{
    color:rgb(220, 220, 220);
    font-size:20px;
    margin-left:190px;
    margin-right:40px;
}

.tradestocks:hover{
    color:white;
}

.transactionhistory{
    color:rgb(220, 220, 220);
    font-size:20px;
    margin-left:40px;
    margin-right:40px;
}

.transactionhistory:hover{
    color:white;
}

.leaderboard{
    color:rgb(220, 220, 220);
    font-size:20px;
    margin-left:40px;
    margin-right:40px;
}

.leaderboard:hover{
    color:white;
}

.editprofilee{
    color:rgb(220, 220, 220);
    font-size:20px;
    margin-left:40px;
    margin-right:40px;
}

.editprofilee:hover{
    color:white;
}

.userprofile{
    color:rgb(220, 220, 220);
    font-size:20px;
    margin-left:40px;
    margin-right:40px;
}

.userprofile:hover{
    color:white;
}

.mystocks{
    color:rgb(220, 220, 220);
    font-size:20px;
    margin-left:40px;
    margin-right:40px;
}

.mystocks:hover{
    color:white;
}

.h-view{
    position:absolute;
    right:0;
    left: 0;
    margin-right:auto;
    margin-left:auto;
    z-index: 100;
    width: 600px;
}

.signupmodalheader{
    background:#404040;
    width:257px;
    position: relative;
    right:1px;
    bottom:2px;
    color:rgb(220, 220, 220)
}

.usernamesignup{

}

.emailsignup{

}

.passwordsignup{

}

.signupmodalfooter{
    background:#404040;
    width:257px;
    position: relative;
    right:1px;
}

.signupmodal{
    width:257px;
    height:380px;
    position: relative;
    left:120px;
}

.createaccountbutton{
    background:rgb(69, 74, 78);
}

.cancelbutton{
    background:rgb(69, 74, 78);
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: blue;
  background: -moz-linear-gradient(left, blue 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, blue 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, blue 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, blue 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, blue 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: blue;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #0dc5c1;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.table{
    color:#404040;
    width:94%;
    margin:auto;
    border:#404040 3px solid;
    border-radius: 5px;
    
}

.rows{
    color:#404040;
    // border:#404040 1px solid;
}

.back{
    width:30px;
    height:40px;
}

.rowheaders{
    justify-content:center;
    position:relative;
    left:40px;

}