@import "~bootstrap/scss/bootstrap.scss";

.navbar{
    height:125px;
    background-color:rgb(69, 74, 78);
    display: flex;
    justify-content: space-between;
}

.profilenavbar{
    height:125px;
    background-color:rgb(69, 74, 78);
    display: flex;
    // justify-content: space-between;
}

.papertrade{
    color:rgb(240, 240, 240);
    font-size: 70px;
    font-weight: bold;
    margin-left:55px;
}

.papertrade:hover{
    color:white;
}

.signup{
    color:rgb(240, 240, 240);
    font-size: 40px;
    margin-right:40px;
    //font-weight:lighter;
}

.signup:hover{
    color:white;
}

.editprofile{
    color:rgb(240, 240, 240);
    font-size: 40px;
    margin-top:20px;
    //font-weight:lighter;
}

.logout{
    color:rgb(240, 240, 240);
    font-size: 40px;
    margin-top:20px;
    }

.login{
    color:white;
    height:665px;
    width:50%;
    padding:70px;
    font-size:20px;
    margin-top:40px;
    // background:yellow;
}

.about{
    color:black;
    height:665px;
    width:50%;
    padding:70px;
    font-size:20px;
    margin-top:50px;
}

.middle{
    display: flex;
    justify-content: center;
}

.email{
    color:black
}

.password{
    color:black;
    border-color:black;
    margin-top:50px;
}


.loginbutton{
    background:rgb(69, 74, 78);
    color:rgb(240, 240, 240);
}

.loginbutton:hover{
    color:rgb(255, 255, 255);
}

.nf{
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
    color:rgb(192, 0, 0);
}

.verticalline{
    color:black;
    width:100%;
}

.vlhome {
  border-left: 1px solid rgb(69, 74, 78);
  height: 665px;
  margin-top:24px;
  border-radius:5px;
}

.input{
    width:100%;
    border-radius:5px;
    border:1px solid rgb(69, 74, 78);
}

.input:focus{
    outline: none;
}

.vlprofile{
    color:white;
    background:orange;
}
