@import "~bootstrap/scss/bootstrap.scss";

.navbar{
    background-color:rgb(69, 74, 78);
    height:30px;
    display: flex;
    justify-content: space-evenly;
}

.tradestocks{
    color:rgb(220, 220, 220);
    font-size:20px;
    margin-left:90px;
    margin-right:40px;
}

.tradestocks:hover{
    color:white;
}

.transactionhistory{
    color:rgb(220, 220, 220);
    font-size:20px;
    margin-left:40px;
    margin-right:40px;
}

.transactionhistory:hover{
    color:white;
}

.leaderboard{
    color:rgb(220, 220, 220);
    font-size:20px;
    margin-left:40px;
    margin-right:40px;
}

.leaderboard:hover{
    color:white;
}

.editprofilee{
    color:rgb(220, 220, 220);
    font-size:20px;
    margin-left:40px;
    margin-right:40px;
}

.editprofilee:hover{
    color:white;
}

.userprofile{
    color:rgb(220, 220, 220);
    font-size:20px;
    margin-left:40px;
    margin-right:40px;
}

.userprofile:hover{
    color:white;
}

.mystocks{
    color:rgb(220, 220, 220);
    font-size:20px;
    margin-left:40px;
    margin-right:40px;
}

.mystocks:hover{
    color:white;
}