.h-view{
    position:absolute;
    right:0;
    left: 0;
    margin-right:auto;
    margin-left:auto;
    z-index: 100;
    width: 600px;
}

.signupmodalheader{
    background:rgb(152, 157, 161);
}

.usernamesignup{

}

.emailsignup{

}

.passwordsignup{

}

.signupmodalfooter{
    background:rgb(152, 157, 161);
}

.signupmodal{
    width:257px;
    height:380px;
    position: relative;
    left:120px;
}

.createaccountbutton{
    background:rgb(69, 74, 78);
}

.cancelbutton{
    background:rgb(69, 74, 78);
}