@import "~bootstrap/scss/bootstrap.scss";

.profilenavbar{
    height:125px;
    background-color:rgb(103, 130, 151);
    display: flex;
    justify-content: space-between;
}

.editprofile{
    color:rgb(240, 240, 240);
    font-size: 40px;
    margin-top:20px;
    //font-weight:lighter;
}

.logout{
    color:rgb(240, 240, 240);
    font-size: 40px;
    margin-top:20px;
    }

.editform{
    width:200px;
    height:100px;
    background:red;
}

.newemail{
    width:200px;
}
